:host ::ng-deep .form-base-custom {
  mat-card {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .grid-container {
    gap: 20px;
  }
}
