<header class="app-header">
  <mat-toolbar>
    <a routerLink="/">
      <img src="assets/imagens/logo.png" alt="Logo do watch it">
    </a>
    <span class="spacer"></span>
    <div class="links-toolbar">
      
      <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
        <a routerLink="/dashboard" mat-stroked-button color="primary" class="btn-inicio">Início</a>
        <a routerLink="/perfil">  
          
          <img src="assets/icones/user.png" class="icone-usuario" alt="Ícone da pessoa usuária">
        </a>
        <button mat-stroked-button color="primary" (click)="logout()">SAIR</button>
      </ng-container>

   
      <ng-template #login>
        <button routerLink="/cadastro" mat-raised-button class="cadastrar">CADASTRE-SE</button>
        <button routerLink="/login" mat-stroked-button>LOGIN</button>
      </ng-template>
      
    </div>
  </mat-toolbar>
</header>
