<div class="filmes-container">
  <h2>Filmes Populares</h2>

  <div *ngIf="filmesPopulares.length > 0">
    <div class="filme-card" *ngFor="let filme of filmesPopulares">
      <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.poster_path" alt="{{ filme.title }}">

      <div class="filme-info">
        <h3>{{ filme.title }}</h3>
        <p>Nota: {{ filme.vote_average }}</p>
        <p>Lançamento: {{ filme.release_date | date }}</p>
        
        
       
      </div>
    </div>
  </div>

  <div *ngIf="filmesPopulares.length === 0">
    <p>Nenhum filme disponível no momento.</p>
  </div>
</div>
