
.homepage {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;
  }
}
  
  section{
    padding: 0;
    margin: 0;
  }

  main{
    width: 100%;
    color: #fff;
    background-color: black;
  }

  h2 {
    font-size: 32px;
  }

  .container{
    
    padding: 20px;
    background-color: #000;
  }

  .title{
   text-align: center;
   padding: 30px;
  font-size: 40px;
  color: #fff;
  }

  
.card{
  background-color: #000;
  color: #fff;
  
}
.card-img-top{
  border-radius: 50%;
}



