<section class="homepage">
  <app-banner
    src="assets/imagens/banner-homepage.png"
    alt="Banner do site watch it">
  </app-banner>
</section>

<div class="main-content">
  <main class="container">
    <h1 class="title">Benefícios</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="assets/imagens/mascara.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recomendações Personalizadas:</h5>
            <p class="card-text">Encontre filmes e séries que realmente combinam com você. O Watch It analisa seus gostos e sugere títulos feitos sob medida para o seu perfil.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/imagens/oscar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Descubra Novidades: </h5>
            <p class="card-text">Explore além dos sucessos de bilheteria! Com o Watch It, você terá acesso a sugestões de filmes e séries incríveis que você talvez nunca tenha ouvido falar.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/imagens/ticket.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Facilidade e Conexão:</h5>
            <p class="card-text">Uma plataforma simples e intuitiva que coloca as melhores recomendações na ponta dos seus dedos, ajudando você a não perder tempo buscando o que assistir.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <aside class="col-md-6">
    <div class="aside-content">
    <h2>Transforme sua experiência de entretenimento!</h2>
    <p>
      Com o <strong>Watch It</strong>, você vai além das recomendações comuns. Descubra filmes e séries incríveis que estão fora do radar, mas que merecem sua atenção.
    </p>
    <p>
      Aproveite uma plataforma que oferece conteúdo exclusivo, selecionado especialmente para você.
    </p>
    <h3 class="h3-content"> <a href="/login">Explore agora e surpreenda-se! </a></h3>
  </div>
  </aside>
</div>
