.homepage {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 32px;
  }

  .title{
    padding: 20px;
   margin-left: 70px;
  font-size: 40px;
  }

  main{
    background-color: black;
    
  }
}

