/* Estilização da navbar */
.navbar {
  background-color: #800000; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .nav-link {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 10px 0;
    &:hover {
      color: #f0f0f0;
    }
  }

  .form-control {
    border-radius: 20px;
    background-color: black;
    color: #fff;
    margin-left: 15px;
    border-radius: 20px;
  
  }

  .btn-outline-success {
    border-radius: 20px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    &:hover{
      background-color: #800000;
    }
  }
}

.dashboard-container {
  background-color: #800000;
  padding: 20px;
  min-height: 100vh;
  
  .filmes-populares-container {
    h2 {
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .filmes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .filme-card {
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      width: 380px;
      
      text-align: center;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        border-radius: 10px;
      }

      h3 {
        font-size: 16px;
        margin: 10px 0 5px 0;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.text-center{
  background-color: #800000;
  padding: 20px;
}

.btn-primary {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: black;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px; 
  color: #fff;
  text-align: center;
  width: 50%; 
  border-radius: 20px;
  font-size: 1.5em; 
}

.favorito-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;

  fa-icon {
    font-size: 1.5em;
    color: red;
  }
}
.btn-outline-primary{
  display: flex;
  background-color: black;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
&:hover{
  background-color: red;
  
}
}
