/* Estilização da navbar */
.navbar {
  background-color: #800000; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .nav-link {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 10px 0;
    &:hover {
      color: #f0f0f0;
    }
  }

  .form-control {
    border-radius: 20px;
    background-color: black;
    color: #fff;
    margin-left: 15px;
    border-radius: 20px;
  }

  .btn-outline-success {
    border-radius: 20px;
    background-color: black;
    color: #fff;
  }
}

.dashboard-container {
  background-color: #800000;
  padding: 20px;

  .filmes-populares-container {
    h2 {
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .filmes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .filme-card {
      background-color: #333;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      width: 180px;
      text-align: center;

      img {
        width: 100%;
        border-radius: 10px;
      }

      h3 {
        font-size: 16px;
        margin: 10px 0 5px 0;
      }

      p {
        font-size: 14px;
      }
    }
  }
}


.btn-primary {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: black;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px; 
  color: #fff;
  text-align: center;
  width: 50%; 
  border-radius: 20px;
  font-size: 1.5em; 
}



  

